<%- messages() %>
<div>
  <h1 class="login-header">Welcome!</h1>
</div>

<form id="loginForm" class="login-form" action="/account/login" method="post">
  <div class="email-section login-form-placement">
    <label class="login-labels" for="email">Email</label>
    <input
      class="login-inputs"
      id="account_email"
      name="account_email"
      type="email"
      placeholder="emailname@byui.edu"
      value="<%= locals.account_email %>"
      required
    />
  </div>
  <div class="password-section login-form-placement">
    <label class="login-labels" for="password">Password</label>
    <div>
      <p class="password-pattern-text">
        There must be at least 12 characters, one must be a number, one must be
        a lowercase letter, one must be a capital letter, and one must be a
        non-alphanumeric character.
      </p>
    </div>
    <input
      class="login-inputs"
      id="account_password"
      name="account_password"
      type="password"
      placeholder="Password"
      value="<%= locals.account_password %>"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}"
    />
  </div>

  <div class="login-submit-button">
    <input class="login-button" type="submit" value="Login" />
  </div>

  <div class="sign-up-account">
    <p>Don't have an account? <a href="/account/register">Sign up?</a></p>
  </div>
</form>
