<div>
  <h1 class="login-header">Register</h1>
</div>

<form action="/account/register" method="post" class="login-form">
  <div class="login-form-placement">
    <label class="login-labels" for="first">First Name</label>
    <input
      class="login-inputs"
      name="account_firstname"
      placeholder="Samwise"
      type="text"
      required
    />
  </div>

  <div class="login-form-placement">
    <label class="login-labels" for="first">Last Name</label>
    <input
      class="login-inputs"
      name="account_lastname"
      placeholder="Gamgee"
      type="text"
      required
    />
  </div>

  <div class="email-section login-form-placement">
    <label class="login-labels" for="email">Email</label>
    <input
      class="login-inputs"
      name="account_email"
      type="email"
      placeholder="emailname@byui.edu"
      required
    />
  </div>
  <div class="password-section login-form-placement">
    <label class="login-labels" for="password">Password</label>
    <input
      class="login-inputs"
      name="account_password"
      type="password"
      placeholder="Password"
      required
    />
  </div>

  <div class="login-submit-button">
    <input class="login-button" type="submit" value="Register Now" />
  </div>

  <div class="sign-up-account">
    <p>Already have an account? <a href="/account/login">Log in</a></p>
  </div>
</form>
