<header id="top-header">
  <div class="space-between">
    <div>
      <span class="siteName">
        <a href="/" class="main-title-header" title="Return to home page"
          >CSE Motors</a
        >
      </span>
    </div>
    <div id="tools">
      <a href="/account/login" class="login-link" title="Click to log in"
        >My Account</a
      >
    </div>
  </div>
</header>
