<nav>
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="/Custom">Custom</a></li>
    <li><a href="/Sedan">Sedan</a></li>
    <li><a href="/SUV">SUV</a></li>
    <li><a href="/Truck">Truck</a></li>
  </ul>
</nav>
