<div class="hero-image">
  <h1>Welcome to CSE Motors!</h1>
  <div class="delorean-img-container">
    <img src="./public/images/vehicles/delorean.jpg" alt="" />
    <div class="delorean-specs-box">
      <h3>DMC Delorean</h3>
      <ul>
        <li>3 Cup Holders</li>
        <li>Superman Doors</li>
        <li>Fuzzy Dice</li>
        <img src="./public/images/site/own_today.png" alt="" />
      </ul>
    </div>
  </div>
</div>
