<%- messages() %>

<div class="hero-image">
  <h1>Welcome to CSE Motors!</h1>

  <div class="delorean-img-container">
    <img class="delorean-vehicle" src="/images/vehicles/delorean.jpg" alt="" />

    <div class="delorean-specs-box">
      <h3>DMC Delorean</h3>
      <ul>
        <li>3 Cup Holders</li>
        <li>Superman Doors</li>
        <li>Fuzzy Dice</li>
      </ul>
      <a href="https://delorean.com/alpha5/">
        <img src="/images/site/own_today.png" alt="" />
      </a>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="delorean-upgrades-grid">
    <h1>Delorean Upgrades</h1>
    <div class="delorean-upgrades-box">
      <img src="/images/upgrades/flux-cap.png" alt="" />
      <a href="">Flux Capacitator</a>
    </div>
    <div class="delorean-upgrades-box">
      <img src="/images/upgrades/flame.jpg" alt="" />
      <a href="">Flame Decals</a>
    </div>
    <div class="delorean-upgrades-box">
      <img src="/images/upgrades/bumper_sticker.jpg" alt="" />
      <a href="">Bumper Stickers</a>
    </div>
    <div class="delorean-upgrades-box">
      <img src="/images/upgrades/hub-cap.jpg" alt="" />
      <a href="">Hub Caps</a>
    </div>
  </div>

  <div class="delorean-reviews-grid">
    <h1>Delorean Reviews</h1>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road" (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day!" (4.5/5)</li>
      <li>"80's livin and I love it" (5/5)</li>
    </ul>
  </div>
</div>
