@media only screen and (min-width: 32em) {
  .errorcode {
    text-align: center;
  }

  .errorcode h1 {
    font-size: 100px;
  }

  #top-header {
    padding-bottom: 25px;
  }

  .space-between {
    display: flex;
    align-items: center;
  }

  .main-title-header {
    font-size: 70px;
  }

  .login-link {
    font-size: 28px;
  }

  .nav-list {
    border-radius: 10px;
    font-size: 30px;
  }

  .hero-image h1 {
    font-size: 55px;
  }

  .delorean-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px;
  }

  .delorean-vehicle {
    width: 550px;
  }

  .delorean-specs-box {
    width: 310px;
    margin: 25px;
  }

  .delorean-upgrades-grid h1 {
    font-size: 50px;
  }

  .delorean-reviews-grid h1 {
    font-size: 30px;
  }

  .details-img {
    width: 500px;
  }

  .login-form-placement {
    width: 500px;
    margin: auto;
  }

  .login-submit-button {
    padding-top: 13px;
  }

  .sign-up-account {
    padding-bottom: 160px;
  }

  #inventoryDisplay {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
  }

  #inventoryDisplay th,
  #inventoryDisplay td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #inventoryDisplay th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  #inventoryDisplay tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  #inventoryDisplay tr:hover {
    background-color: #f1f1f1;
  }
}
