<h1>Add New Classification</h1>

<form class="add-class-form" action="">
  <label for="Classification">Classification Name</label>
  <input type="text" id="classification" name="classification" value="Slow" />
  <input type="submit" value="Submit" />
</form>
