<title>Inventory Management</title>
<h1 class="inventory-title-header">Inventory Management</h1>

<a href="/inv/add-classification">Add New Classification</a>
<a href="/inv/add-inventory">Add New Inventory</a>
